<html>
<head>
</head>
<body>
<style type="text/css">
	#entityList {
		float: left;
		width: 180px;
		background-color: rgb( 240, 240, 240 );
		border: 1px solid gray;
		padding: 20px;
	}

	#objectList {
		float: left;
		width: 370px;
		background-color: rgb( 240, 240, 240 );
		border: 1px solid gray;
		padding: 20px;
		margin-left: 10px;
	}
	
	#createLink {
		float: right;
		width: 20px;
		height: 20px;
		border: 1px solid black;
	}
</style>
	<div id="entityList">
		<ul>
			<webobject name="ENTITY_NAME_REPETITION">
				<li><webobject name="SELECT_ENTITY_LINK"><webobject name="ENTITY_NAME_STRING" /></webobject><br /></li>
			</webobject>
		</ul>
	</div>
	<webobject name="EDIT_CONTAINER">
		<webobject name="HAS_SELECTED_ENTITY">
			<div id="objectList">
				<h2><webobject name="ENTITY_NAME" /></h2>
				<webobject name="CREATE_LINK">+</webobject>
				<webobject name="OBJECT_REPETITION">
					<webobject name="SELECT_OBJECT_LINK"><webobject name="CURRENT_OBJECT_STRING" /> - <webobject name="CURRENT_OBJECT_NAME_STRING" /></webobject><br />
				</webobject>
			</div>
		</webobject>
	</webobject>
</body>
</html>