a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: black;
}

body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

th, td {
	text-align: left;
	vertical-align: top;
	padding: 1px 15px;
}

#entityList {
	float: left;
	width: 180px;
	background-color: rgb( 250, 250, 250 );
	border: 1px solid rgb( 240, 240, 240 );
	padding: 20px;
}

#objectList {
	float: left;
	width: 370px;
	background-color: rgb( 250, 250, 250 );
	border: 1px solid rgb( 240, 240, 240 );
	padding: 20px;
	margin-left: 10px;
}

#createLink {
	float: right;
	display: block;
	text-decoration: none;
	background-color: rgb( 240, 240, 240 );
	padding: 6px 10px;
	font-weight: bold;
	color: black;
}

#editObject table {
	background-color: rgb( 250, 250, 250 );
	border: 1px solid rgb( 240, 240, 240 );
}

#createLink:hover {
	background-color: rgb( 220, 220, 220 );
}