<wo:KMCommonLook>
	<div id="entityList">
		<ul>
			<webobject name="ENTITY_NAME_REPETITION">
				<li><webobject name="SELECT_ENTITY_LINK"><webobject name="ENTITY_NAME_STRING" /></webobject><br /></li>
			</webobject>
		</ul>
	</div>
	<webobject name="EDIT_CONTAINER">
		<webobject name="HAS_SELECTED_ENTITY">
			<div id="objectList">
				<h2><webobject name="ENTITY_NAME" /> (<wo:str value = "$numberOfObjects" />)</h2>
				<webobject name="CREATE_LINK">+</webobject>
				<table>
					<tr>
						<wo:repetition item="$currentAttributeName" list="$attributeNames">
							<th><wo:str value="$currentAttributeName" /></th>
						</wo:repetition>
						<th>&nbsp;</th>
					</tr>
				<webobject name="OBJECT_REPETITION">
					<tr>
						<wo:repetition item="$currentAttributeName" list="$attributeNames">
							<td>
								<wo:conditional condition="$isImage" negate="$true"><wo:str value="$currentValue" /></wo:conditional>
								<wo:conditional condition="$isImage" negate="$false"><wo:image mimeType="image/jpeg" data="$currentValue" /></wo:conditional>
							</td>
						</wo:repetition>
						<td><wo:link action="$selectObject">velja</wo:link></td>
					</tr>
				</webobject>
				</table>
			</div>
		</webobject>
	</webobject>
</wo:KMCommonLook>