<wo:KMCommonLook>
	<div id="entityList">
		<ul>
			<webobject name="ENTITY_NAME_REPETITION">
				<li><webobject name="SELECT_ENTITY_LINK"><webobject name="ENTITY_NAME_STRING" /></webobject><br /></li>
			</webobject>
		</ul>
	</div>
	<webobject name="EDIT_CONTAINER">
		<webobject name="HAS_SELECTED_ENTITY">
			<div id="objectList">
				<h2><webobject name="ENTITY_NAME" /></h2>
				<webobject name="CREATE_LINK">+</webobject>
				<table>
					<tr>
						<th>Númer</th>
						<th>Heiti</th>
					</tr>
				<webobject name="OBJECT_REPETITION">
					<tr>
						<td><webobject name="SELECT_OBJECT_LINK"><webobject name="CURRENT_OBJECT_STRING" /></webobject></td>
						<td><webobject name="CURRENT_OBJECT_NAME_STRING" /></td>
					</tr>
				</webobject>
				</table>
			</div>
		</webobject>
	</webobject>
</wo:KMCommonLook>