<wo:KMCommonLook>
	<div id="editObject">
		<webobject name="FORM">
			<table>
				<tr>
					<th></th>
					<th></th>
				</tr>
				<webobject name="ATTRIBUTE_REPETITION">
				<tr>
					<td><webobject name="ATTRIBUTE_NAME_STRING" /></td>
					<td>
						<webobject name="TEXT_CONDITIONAL"><webobject name="ATTRIBUTE_VALUE_TEXT" /></webobject>
						<webobject name="INTEGER_CONDITIONAL"><webobject name="ATTRIBUTE_VALUE_INTEGER" /></webobject>
						<webobject name="TIMESTAMP_CONDITIONAL"><webobject name="ATTRIBUTE_VALUE_TIMESTAMP" /></webobject>
						<webobject name="DATA_CONDITIONAL"><webobject name="ATTRIBUTE_VALUE_DATA" /></webobject>
					</td>
				</tr>
				</webobject>
				<tr>
					<td><webobject name="DELETE_LINK">Eyða</webobject></td>
					<td><webobject name="BACK_LINK">Hætta við</webobject></td>
					<td><webobject name="SUBMIT_BUTTON" /></td>
				</tr>
			</table>
		</webobject>
	</div>
</wo:KMCommonLook>